/* Universial Box Style */



/* This is for the overall body */
body {
    background-color: #ffffff; 
}

/*This is for my Flexbox Navigation Container */

.container {
    display:flex
}

/* This is for all my h2 titles*/
.second-title {
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-color:white white aquamarine white;
    width: 20rem;
}


    /* This is for my paragraphs on the first page */
.first-paragraph {
    line-height: 1.8em;
}

/* These are for my mini subsections for the list on first page */
.header-bold {
    color:rgb(0, 0, 0); 
    line-height: 2.0em;
}

/* This is for all my paragraphs throughout the entire website*/
.second-paragraph {
    line-height: 1.8em;
}




/*Edits on Titles*/


.third-title {
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-color:white white aquamarine white;
    width: 20rem;
    
}

.fourth-title {
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-color:white white aquamarine white;
    width: 32rem;
}