/* Universial Box Style */



/* This is my first CSS Note */
body {
    background-color: #ffffff; 
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;

}

.first-paragraph {
    line-height: 1.8em;
}


.header-bold {
    color:rgb(0, 0, 0); 
    line-height: 2.0em;
}

.second-paragraph {
    line-height: 1.8em;
}

.button1 {
    background-color:khaki;
    color: #000000;
    font-size: 16px;
    padding: 5px 6px;
    border-radius: 4px;
    border: 2px solid #000000;
    
}

.button1:hover {
    background-color:aquamarine;
    color: #000000;
}


.button2 {
    background-color:khaki;
    color: #000000;
    font-size: 16px;
    padding: 5px 6px;
    border-radius: 4px;
    border: 2px solid #000000;
}

.button2:hover {
    background-color: aquamarine;
    color: black;
}

.button3 {
    background-color:khaki;
    color: #000000;
    font-size: 16px;
    padding: 5px 6px;
    border-radius: 4px;
    border: 2px solid #000000;
}

.button3:hover {
    background-color: aquamarine;
    color: black;
}

.button4 {
    background-color:khaki;
    color: #000000;
    font-size: 16px;
    padding: 5px 6px;
    border-radius: 4px;
    border: 2px solid #000000;
}

.button4:hover {
    background-color: aquamarine;
    color: black;
}

/*Edits on Titles*/

.second-title {
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-color:white white aquamarine white;
    width: 20rem;
}

.third-title {
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-color:white white aquamarine white;
    width: 20rem;
    
}

.fourth-title {
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-color:white white aquamarine white;
    width: 32rem;
}